<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment to answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/answer/{{ answer_id }}/new-comment" method="post">
        <label>Write a comment</label><br>
        <textarea name="answer_comment" rows="10" cols="50" placeholder="Place your comment here" required></textarea><br>
        <button class="button" type="submit">Submit</button>
        <button class="button" type="reset">Reset</button>
        <br><br>
        <a href="/question/{{ answer_id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
    </form>
</body>
</html>