<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment to the question!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question_style2.css') }}">
</head>
<body>
    <div>
        <form action="/question/{{ question_id }}/new-comment" method="post">
            <h1>Add comment to the {{ question_id }}. question!</h1>
            <label>
                <textarea name="question_comment" rows="10" placeholder="Place your comment here" required></textarea>
            </label>
            <br/>
            <button class="button" type="submit">Submit</button>
            <button class="button" type="reset">Reset</button>
            <br/><br/>
        </form>
        <a href="/question/{{ question_id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
    </div>
</body>
</html>