<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question_style2.css') }}">
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
    <div>
        <form action="/question/{{ question.id }}/edit" method="post" enctype="multipart/form-data">
            <h1>Edit your question</h1>
            <label>
                <textarea name="edittitle" rows="3" cols="30">{{question.title}}</textarea>
            </label><br/>
            <label>
                <textarea name="editbody" rows="10" cols="50" >{{question.message}}</textarea>
            </label>
            <br/>
            <button class="button" type="submit">Submit</button>
            <button class="button" type="reset">Reset</button>
            <input class="button" type=file name="editimage">
            <br/><br/>
        </form>
    </div>
    <a href="/question/{{ question.id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
</body>
</html>