<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Edit answer</title>
</head>
<body>
<form action="/answer/{{ answer[0].id }}/edit" method="post" enctype="multipart/form-data">
    <h1>Edit your answer</h1>
    <textarea name="editbody" rows="10" cols="50" >{{answer[0].message}}</textarea>
    <br>
    <button class="button" type="submit">Submit</button>
    <button class="button" type="reset">Reset</button>
    <input class="button" type=file name="editimage">
    <br><br>
    <a href="/question/{{ answer[0].question_id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
</body>
</html>