<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <style>body {
    background-image: url('https://media0.giphy.com/media/3og0Ix8tq5zyKybM9a/giphy.gif?cid=ecf05e47f00bed5bfeac0975228f848a7e1c72dce6f2767a&rid=giphy.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
         background-size: cover;
        position: absolute;
        top: 25%;
        left: 37%;}</style>
    <title>Edit question</title>
</head>
<body>
<form action="/question/{{ question.id }}/edit" method="post" enctype="multipart/form-data">
    <h1>Edit your question</h1>
    <textarea name="edittitle" rows="3" cols="30">{{question.title}}</textarea><br>
    <textarea name="editbody" rows="10" cols="50" >{{question.message}}</textarea>
    <br>
    <button class="button" type="submit">Submit</button>
    <button class="button" type="reset">Reset</button>
    <input class="button" type=file name="editimage">
    <br><br>
    <a href="/question/{{ question.id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
</body>
</html>