<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>  Home</a></li>
            <li><a href="/list"><i class="fa fa-clone"></i>  All questions</a></li>
            <li><a href="add-question"><i class="fa fa-edit"></i>  Add question</a></li>
            <li><a href="/users"><i class="fa fa-users"></i>  List of Users</a></li>
            <li> {% if 'username' in session %}
                <a href="/logout"><i class="fa fa-user"></i> Log out</a>
                {% else %}
                <a href="/login"><i class="fa fa-user"></i>  Sign in</a></li>
                {% endif %}
        </ul>
    </div>
    <form action="/search" method="GET">
         <div class="buscar-caja">
            <input type="text" name="search_text" class="buscar-txt" placeholder="Search question..."/>
            <a class="buscar-btn">
            <i class="fa fa-search"></i></a>
            </div>
     </form>
    <br><br><br><br>
    <table>
        <thead>
            {% for question in list_of_questions%}
                <tr>
                    {% if list_of_questions.index(question) == 0 %}
                        {%for detail in question%}
                            <th><form action="{{ url_for('display_list') }}" method="GET">
                            <input type="hidden" name="order_by" value="{{detail}}">{{ (detail.upper()).replace('_',' ') }}<br><br>
                            <button name="order_direction"style="background-color:#4CAF50" value="ASC">↑</button>
                            <button name="order_direction" style="background-color:#4CAF50" value="DESC">↓</button>
                            </form> </th>
                        {%endfor%}
                        <th><text> VOTING </text></th>
                    {% endif %}
                </tr>
            {%endfor%}
        </thead>
        {% for row in list_of_questions%}
            <tr>
                <td width="50"><a href="/question/{{row.id}}/increase_view_number"> {{row.id}} </a></td>
                <td width="150"><a href="/user/{{ row.user_name }}" >{{ row.user_name }}</a></td>
                <td width="150">{{ row.submission_time }}</td>
                <td width="60">{{ row.view_number }}</td>
                <td width="60">{{ row.vote_number }}</td>
                <td width="100">{{ row.title }}</td>
                <td width="200">{{ row.message }}</td>
                {% if row.image is not none and row.image != ''%}
                    <td><img src="/static/{{ row.image }}" alt="caption" height="100"></td>
                {%else%}
                    <td height = "80"> </td>
                {% endif %}
                <td width="50"><a href="/question/{{row.id}}/vote_up">
                    <img src="static/buttons/try.png" width="18"></a>

                    <a href="/question/{{row.id}}/vote_down" >
                    <img src="static/buttons/try2.png" width="18"></a></td>
            </tr>
        {%endfor%}
    </table>
    </form>
    {% block main %}{% endblock %}
</body>
</html>