<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New tag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <form action="/question/{{ question_id }}/new-tag" method="POST">
        <h1 style="color: white" for="tags">Choose a tag for the question:</h1>
            {% block error_message %}{% endblock %}<br><br>
          <select name="tag_name" id="tag_name">
              {%  for tag in tags %}
                    <option value={{ tag.name }}>{{ tag.name }}</option>
              {%  endfor %}
          </select><br><br>
            <textarea name="new_tag_type"></textarea>
          <br><br>
          <input class="button" type="submit" value="Submit">
    </form>
    <br>
    <a class="button" href="/question/{{ question_id }}">Back to the page of {{ question_id }}</a>
</body>
</html>