<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/old_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="askmate_container">
        <caption id="caption"><img class="askmate" src="static/buttons/banner.png" alt="Ask-Question-Ask-Mate" width="120">
            <p>ASK MATE</p>
    </div>
    <div class="menu-bar">
        <ul>
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/list"><i class="fa fa-clone"></i>  All questions</a></li>
            <li><a href="{{ url_for('add_question') }}"><i class="fa fa-edit"></i>  Add question</a></li>
            <li><a href="/users"><i class="fa fa-users"></i>  List of Users</a></li>
            <li>
                {% if 'username' in session %}
                    <a href="/logout"><i class="fa fa-user"></i>Log out</a>
                {% else %}
                    <a href="/login"><i class="fa fa-user"></i> Sign in</a>
                {% endif %}
            </li>
        </ul>
    </div><br/><br/>
    <div class="form-container">
        <form action="/search" method="GET">
             <div class="caja">
                <input type="text" name="search_text" class="txt" placeholder="Search question..."/>
                 <button class="search-button"><i class="fa fa-search"></i></button>
             </div>
         </form>
    </div>
    <table>
        <caption style="color: white">List of Users</caption>
        <thead>
            {% for user in users %}
                <tr>
                    {% if users.index(user) == 0 %}
                        {% for title in user %}
                            <th>{{ (title.upper()).replace('_',' ') }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </thead>
        {% for user in users %}
            <tbody>
                <tr>
                    <td> {{ user.id }}</td>
                    <td><a href="/user/{{user.user_name}}"> {{ user.user_name }}</a></td>
                    <td> {{ user.count_of_questions }}</td>
                    <td> {{ user.count_of_answers }}</td>
                    <td> {{ user.count_of_comments }}</td>
                    <td> {{ user.reputation }}</td>
                </tr>
            </tbody>
        {% endfor %}
        <a href="/list"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
    </table><br/>
</body>
</html>